@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,400&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    
}
canvas{
    display: block;
}
svg {
    position: fixed;
    top: 4vh;
    right: 4vh;
    background-color: transparent;
    width: 1.4vw;
    z-index: 99999;
}
.interfaccia{
    position:absolute;
    vertical-align: baseline;
    bottom:50px;
    display: flex;
    flex-direction: row;
    left:10%;
    color:white;
}
.slider{
    color:white;
    font-size: 16pt;

}
input[type="range"]{
    -webkit-appearance: none;
    rotate: -90deg;
  width: 100px;
  height: 7px;
  background:none;
  border: solid 2px white;
  border-radius: 0px;
  background-image: none;
  margin:10px;
opacity: 30%;
}
nav {
    display: block;
    color: white;
    list-style: none;
    position: fixed;
    left:1vw;
    top:2vh;
}


a {
    text-decoration: none;
    color: white;
    font-weight: 200;
}