@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,400&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    
}
canvas{
    display: block;
}
svg {

    width: calc(14px + 6 * ((100vw - 320px) / 680));
    z-index: 99999;
}


.menu {
    margin-left: 10px;
    margin-right:10px;
    font-size: calc(12px + 6 * ((100vw - 320px) / 680));
    width: 100%;
    height: 5vh;
    color: white;
    position: fixed;
    top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.fullscreenSVG {
    cursor: pointer;
    margin-right: 3vw;
    order: 3;

}
.index {
    background-color: rgba(0, 0, 0, 0.9);
    order: 1;
    margin-left: 1vw;

}

.index a {
    text-decoration: none;
    color: white;
    font-weight: 200;
}
.interfaccia{
    font-size:calc(8px + 6 * ((100vw - 320px) / 680));
    width:100%;
    position:fixed;
    bottom:7vh;
    display: flex;
    flex-direction: row;
    color:white;
    justify-content: center;
    column-gap: 5vw;
}
.BoxR{
order:1;
text-align: center;    
}
.BoxG{
order:2;
text-align: center;
}
.BoxB{
order:3;
text-align: center;
}
.BoxSens{
order:4;
text-align: center;
}
.BoxX-Noise{
order:5;
text-align: center;
}
.BoxY-Noise{
order:6;
text-align: center;
}
.BoxNoiseAmplitude{
order:7;
text-align: center;
}

.slider{
    float:left;
    color:white;
    font-size: 16pt;
    width: 100%;
    text-align: center;


}

input[type="range"][orient=vertical]{
    -webkit-appearance: none;
  height: 100px;
  width: 10px;
  background:none;
  border: solid 2px white;
  border-radius: 10px;
  background-image: none;
  opacity: 30%;
}
nav {
    display: block;
    color: white;
    list-style: none;
    position: fixed;
    left:1vw;
    top:2vh;
}


a {
    text-decoration: none;
    color: white;
    font-weight: 200;
}
.index:hover{
    color:black;
    background-color: rgba(255, 255, 255, 1);


}
.index a:hover{
    color:black;
}

@media screen and (min-width:2000px){
    input[type="range"][orient=vertical]{
        -webkit-appearance: none;
      height: 200px;
      width: 20px;
      background:none;
      border: solid 4px white;
      border-radius: 20px;
      background-image: none;
      opacity: 30%;
    }
   

}